//fonts
$font-style: "Ubuntu", "Arial", sans-serif;
//colors
$black-800: #0b0a0a;
$black-700: #0c0d0d;
$black-100: #1e1d1d;
$brown-500: #585050;
$brown-300: #887c7c;
$brown-600: #424242;
$brown-200: #585050;
$beige-200: #dfdada;
$beige-100: #f8f8f8;
$beige-800: #f3f3f3;
$beige-300: #f0f6ff;
$blue-700: #205eb0;
$blue-500: #2a75db;
$blue-100: #aac9f1;
$blue-400: #b9d5fc;
$grey-700: #b0b5bd;
